<!DOCTYPE html>
<html>

<head>
    <title>test infinite scroll</title>
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/font-awesome/css/font-awesome.min.css">
    <style type="text/css">
    .container {
        width: 500px;
        height: 500px;
        background-color: blue;
    }
    
    .myP {
        width: 20px;
        height: 20px;
        background-color: rgb(226, 160, 160);
        ;
        margin: 2px;
    }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 myP">1</div>
            <div class="col-xs-6 myP">2</div>
            <div class="col-xs-6 myP">3</div>
            <div class="col-xs-6 myP">4</div>
            <div class="col-xs-6 myP">5</div>
            <div class="col-xs-6 myP">6</div>
            <div class="col-xs-6 myP">7</div>
        </div>
    </div>
</body>
<script src="../public/jquery/jquery.js"></script>
<script type="text/javascript">
var sqares = 30;
var sqaresHTML = '<div class="row">';

for (var i = 1; i < sqares; i++) {
    sqaresHTML += `       
            <div class="col-xs-6 myP">${i}</div>
        `;
}
sqaresHTML += '</div>';

$('.container').append(sqaresHTML);
</script>

</html>
