<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/font-awesome/css/font-awesome.min.css">
    <style>
    body {
        padding-top: 80px;
        word-wrap: break-word;
    }
    
    .day-card {
        position: absolute;
    }
    </style>
</head>

<body>
    <div class="container">
        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Profile Page</h1>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        </div>
        <div id="myRows" class="row">
            <!-- LOCAL INFORMATION -->
        </div>
    </div>
</body>
<script src="../public/jquery/jquery.js"></script>
<script src="../public/js/main.js"></script>
<script src="../public/js/GridView.js"></script>
<script type="text/javascript">
</script>

</html>
