<!DOCTYPE html>
<html>

<head>
    <title>test infinite scroll</title>
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/font-awesome/css/font-awesome.min.css">
    <style type="text/css">
    .container {
        width: 500px;
        height: 500px;
        background-color: blue;
    }
    
    .myP {
        width: 50px;
        height: 20px;
        background-color: rgb(226, 160, 160);
        ;
        margin: 2px;
    }
    
    .trasnparent {
        background-color: transparent;
    }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
        </div>
    </div>
</body>
<script src="../public/jquery/jquery.js"></script>
<script type="text/javascript">
var sqares = 31;
var todayDate = now();
genMonth();



function genMonth() {
    var sqaresHTML = "";

    for (var i = 0; i < sqares; i++) {

        if ((i % 7) > 0) {

            sqaresHTML += `<div class="col-xs-6 myP">${i+1}</div>`;

        }
        if ((i % 7) == 0) {

            sqaresHTML += '<div class="row">';
            sqaresHTML += `<div class="col-xs-6 myP">${i+1}</div>`;

        }
        if ((i % 7) == 6) {

            sqaresHTML += '</div>';

        }

    }

    $('.container').append(sqaresHTML);
}
</script>

</html>
