<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/font-awesome/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <div id="myRows" class="row">
            <!-- LOCAL INFORMATION -->
            <input type="text" id="foo" placeholder="this is the ext">
        </div>
    </div>
</body>
<script src="../public/jquery/jquery.js"></script>
<script src="../public/js/main.js"></script>
<script type="text/javascript">
// test 2 way binding
function bindModelInput(obj, property, domElem) {
    Object.defineProperty(obj, property, {
        get: function() {
            return domElem.value;
        },
        set: function(newValue) {
            domElem.value = newValue;
            domElem.innerHTML = newValue;
        },
        configurable: true
    });
}

user = {};
inputElem = document.getElementById("foo");
bindModelInput(user, 'name', inputElem);

user.name = "Joe";

//inputElem.value = 'Bob';
</script>

</html>
