<!DOCTYPE html>
<html>

<head>
    <title>test infinite scroll</title>
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/font-awesome/css/font-awesome.min.css">
    <style type="text/css">
    .row {
        position: absolute;
        width: 200px;
        height: 30px;
        background-color: red;
        color: white;
    }
    
    .container {
        width: 500px;
        height: 500px;
        background-color: blue;
    }
    
    .myP {
        width: 50px;
        height: 20px;
        margin: 2px;
    }
    
    .colored {
        background-color: rgb(226, 160, 160);
    }
    
    .trasnparent {
        background-color: transparent;
    }
    </style>
</head>

<body>
    <h1>my calendar</h1>
    <div id="container" class="container">
    </div>
</body>
<script src="../public/jquery/jquery.js"></script>
<script type="text/javascript">
Date.prototype.addDays = function(d) {
    return this.valueOf() + 864E5 * d;
};
var sqares = 100;
var todayDate = new Date();

//*****************************************************
//*************** scroll event
//***************

// the scroll is working fine, but i need to reposition all the row
// the css attribute "position" : "absolute" is positioning all the 
// elements on the first pixels of the .container

var container = document.getElementById('container');
container.addEventListener('wheel', weelEvent);

function weelEvent(e) {
    // cross-browser wheel delta
    var e = window.event || e; // old IE support
    var delta = Math.max(-40, Math.min(40, (e.wheelDelta || -e.detail)));
    moveRows(-delta);
}

var cWidth = 500;
var cHeight = 500;
var rowHeight = 30;
var sep = 10;
var containerPos = container.getBoundingClientRect().top;
var topPos = (cHeight + (rowHeight * 2)) - containerPos;
var bottomPos = (cHeight + (rowHeight * 2)) - containerPos;

var objArr = [];

function nrOfRows() {
    return cHeight / (sep + rowHeight) + 1;
}

function moveRows(delta) {
    var rowToReuse;
    for (var i = 0; i < objArr.length; i++) {
        objArr[i].setVPos(delta);
        $(`#${objArr[i].id}`).css({
            top: `-=${delta}px`
        });

        if (objArr[i].vPos > cHeight + containerPos) {
            //console.log(`${objArr[i].id} should move up`);
            objArr[i].moveUp();
        }

        if (objArr[i].vPos < containerPos) {
            //console.log(`${objArr[i].id} should move up`);
            objArr[i].moveDown();
        }
    }
}

// matteo
function render() {
    var genHtml = ""
    console.log(nrOfRows());
    for (var i = 0, max = nrOfRows(); i < max; i++) {
        var d = new Date(todayDate.addDays(i));
        var rowO = new RowModel();
        rowO.id = i;
        rowO.index = i;
        rowO.setText(formatDate(todayDate.addDays(rowO.index)));
        rowO.vPos = (rowHeight + sep) * i + containerPos;

        genHtml += rowO.htmlString();
        objArr.push(rowO);

    }
    $('.container').append(genHtml);
}

var RowModel = function() {
    this.vPos = 0.0;
    this.id = 1;
    this.text = ""
    this.index = 0;
    this.setText = function(value) {
        this.text = value;
        return "text " + this.text;
    };

    this.htmlString = function() {
        return `<div id="${this.id}" class="row" style="top:${this.vPos}px;">${this.id} - ${this.text} <div>day 1</div><div>day 2</div><div>day 3</div><div>day 1</div></div>`;
    };

    this.setVPos = function(delta) {
        this.vPos += -delta;
    };

    this.moveUp = function() {
        this.index -= 14;
        this.DOM(todayDate.addDays(this.index));
        this.setVPos(560);
        $(`#${this.id}`).css({
            top: `-=${560 }px`
        });
    };

    this.moveDown = function() {
        this.index += 14;
        this.DOM(todayDate.addDays(this.index));
        this.setVPos(-560);
        $(`#${this.id}`).css({
            top: `-=${-560 }px`
        });
    };

    this.DOM = function(newDate) {
        var readableDate = formatDate(newDate);
        $(`#${this.id}`).text(`${this.id} - ${readableDate}`);
        this.setText(`${readableDate}`);
    };
}

function formatDate(dateVal) {
    var tempDate = new Date(dateVal);
    var monthArray = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec']
    return `${tempDate.getDate()}/${monthArray[tempDate.getMonth()]}/${tempDate.getFullYear()}`;
}
render();
</script>

</html>
